{% extends 'base.html.twig' %}

{% block title %}Target index{% endblock %}

{% block body %}
    <h1>Target index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Target_code_name</th>
                <th>Last_name</th>
                <th>First_name</th>
                <th>Birthday</th>
                <th>Nationality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for target in targets %}
            <tr>
                <td>{{ target.id }}</td>
                <td>{{ target.targetCodeName }}</td>
                <td>{{ target.lastName }}</td>
                <td>{{ target.firstName }}</td>
                <td>{{ target.birthday ? target.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ target.nationality }}</td>
                <td>
                    <a href="{{ path('app_target_show', {'id': target.id}) }}">show</a>
                    <a href="{{ path('app_target_edit', {'id': target.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_target_new') }}">Create new</a>
{% endblock %}
