{% extends 'base.html.twig' %}

{% block title %}Target{% endblock %}

{% block body %}
    <h1>Target</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ target.id }}</td>
            </tr>
            <tr>
                <th>Target_code_name</th>
                <td>{{ target.targetCodeName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ target.lastName }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ target.firstName }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ target.birthday ? target.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ target.nationality }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_target_index') }}">back to list</a>

    <a href="{{ path('app_target_edit', {'id': target.id}) }}">edit</a>

    {{ include('target/_delete_form.html.twig') }}
{% endblock %}
